{# Modal is displayed if there is time conflict  #}
<div class="modal" id="conflictModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment time conflict</h5>
            </div>
            <div class="modal-body">
                <p>The appointment you try to make is less than 15 before/after another
                appointment.</p>
                <p>Are you sure you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButtonModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="submitFormModal" class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</div>

{{ form_start(form) }}
    {{ form_widget(form) }}
       <button type="button" id="submit-btn" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}