
.logo-image {
    width: 9rem;
}
.profile-image {
    width: 3rem;
}
.new-appointment-container {
    /* display: flex; */

}
.new-appointment-form {
    width: 50%;
}
/* Adjust the height and font size of the event */
.fc-event {
    height: 40px; /* Adjust the height as needed */
    font-size: 14px; /* Adjust the font size as needed */
}

/* Optionally, you can adjust the appearance of the event title */
.fc-event-title {
    /* Add additional styling for the event title */
    font-weight: bold; /* Make the event title bold */
}

/* Optionally, you can adjust the appearance of the current
 day box in month calendar/column in week calendar */
.fc-day-today {
    background-color: #49beff; 
}
.fc-timegrid-slot:hover {
    background-color: #49beff;
    opacity: 0.2;
}
.fc-timegrid-slot:active {
    background-color: #2496d3;
    opacity: 0.2;
}



#appointments_time_at_date_month {

}

#appointments_time_at_date_day {

}
#appointments_time_at_date_year {

} 
#appointments_time_at_time_hour {

}
#appointments_time_at_time_minute {

}
#appointments_time_at_date, #appointments_time_at_time {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

#appointments_time_at {
    display: flex;
    align-items: center;

}