<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
      <link rel="stylesheet" href="{{ asset('styles/global.css') }}" />
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icon/themify-icons@1.0.1-alpha.3/themify-icons.min.css" />
    {% block javascripts %}
      {{ importmap() }}
    {% endblock %}
  </head>
  <body>
    {% if app.user %}
      <div id="sidebar">
        <!-- Sidebar content goes here -->
        <aside class="left-sidebar with-vertical">
          <div>
            <div class="d-flex align-items-center justify-content-center">
              <div>
                <img src="{{ asset('images/logo_transparent.png') }}" class="logo-image" alt="" />
              </div>
            </div>

            <nav class="sidebar-nav scroll-sidebar simplebar-scrollable-y" data-simplebar="init">
              <div class="simplebar-wrapper" style="margin: 0px -24px;">
                <div class="simplebar-height-auto-observer-wrapper">
                  <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                  <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                      <div class="simplebar-content" style="padding: 0px 24px;">
                        <ul id="sidebarnav">
                          <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                          </li>

                          <li class="sidebar-item">
                            <a class="sidebar-link" href="/" aria-expanded="false">
                              <span><i class="ti ti-home"></i></span>
                              <span class="hide-menu">Dashboard</span>
                            </a>
                          </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link" href="calendar" aria-expanded="false">
                              <span><i class="ti ti-calendar"></i></span>
                              <span class="hide-menu">Calendar</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="simplebar-placeholder" style="width: 269px; height: 3499px;"></div>
              </div>
              <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
              </div>
              <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar" style="height: 25px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
              </div>
            </nav>
          </div>
        </aside>
      </div>
    {% endif %}
    {% block body %}

    {% endblock %}
  </body>
</html>
